.wrapper {
  width: 100vw;
  /* background-color: hsl(207, 26%, 17%); */
  /* padding: 1rem; */
}

header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 100%, 100%);
  margin-bottom: 1rem;
}

.themeSwitchContainer {
  display: flex;
  gap: 1rem;
}

.body {
  background-color: hsl(207, 26%, 17%);
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
}

.body input {
  /* width: 70%;
  justify-self: center;
  align-self: center;
  border: 1px solid blue; */
  /* display: flex; */
  /* justify-content: center; */
}

.searchContainer {
  /* position: relative; */
  width: 90%;
  margin-bottom: 1rem;
}

.searchContainer input {
  width: 100%;
  border: 1px solid hsl(209, 23%, 22%);
  border-radius: 15px;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 100%, 100%);

  /* outline: 1px solid inherit; */
  /* border: none; */
  /* border-radius: 5px; */
}

/* .searchIcon {
  position: absolute;
  top: 35%;
} */

.dash {
  width: 20px;
  height: 1px;
  background-color: black;
}
