.wrapper {
  width: 100vw;
  /* background-color: hsl(207, 26%, 17%); */
  /* padding: 1rem; */
}

header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 100%, 100%);
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  /* padding: 1rem; */
  /* border: 1px solid; */
}

.themeSwitchContainer {
  display: flex;
  gap: 1rem;
}

.body {
  background-color: hsl(207, 26%, 17%);
  width: 100%;
  /* height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.body input {
  width: 70%;
  display: flex;
  /* justify-content: center; */
}

.searContainer {
  /* position: relative; */
  width: 90%;
}

.searContainer input {
  width: 100%;
  border: 1px solid hsl(209, 23%, 22%);
  border-radius: 15px;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 100%, 100%);

  /* outline: 1px solid inherit; */
  /* border: none; */
  /* border-radius: 5px; */
}

/* .searchIcon {
  position: absolute;
  top: 35%;
} */
